.App-main--grid{
    display: flex;
    flex-direction: column;
}

.home-welcome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    
}

.welcome-imageArticle{
    /* flex-basis: 50%; */
    position: relative;
    padding: 0 50px;
    display: flex;
    justify-content: flex-end;
}

.welcome-imageArticle::after{
    content: '';
    height: 80%;
    width: 2px;
    position: absolute;
    top: 10%;
    right: 0;
    background-color: black;
}

.welcome-img{
    max-width: 300px;
    animation: trackingRigth .5s .2s ease-in-out both, fundido .5s .3s ease-in-out both;
}

.welcome-textArticle{
    width: 80%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.welcome-text{
    font-size: 1.4rem;
    text-align: left;
    text-wrap: pretty;
    animation: trackingLeft .5s .2s ease-in-out both, fundido .5s .3s ease-in-out both;
}

.home-howItWorks{
    /* background-color: var(--color-yellow-light); */
    margin: 0 auto;
    width: 70%;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

.howItWorks-title{
    font-size: 1.5rem;
}

.howItWorks-list{
    /* display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr)); */
    /* gap: 20px; */
    display: flex;
    justify-content: center;
    margin: 30px 30px;
}

.howItWorks-item{
    animation: trackingUp .5s .2s ease-in-out both, fundido .5s .2s ease-in-out both;
}

.howItWorks-item:nth-child(2){
    animation: trackingUp .5s .4s ease-in-out both, fundido .5s .4s ease-in-out both;
}

.howItWorks-item:nth-child(3){
    animation: trackingUp .5s .6s ease-in-out both, fundido .5s .6s ease-in-out both;
}

.howItWorks-img{
    max-width: 120px;
}

.howItWorks-text{
    background-color: var(--color-yellow-light);
    border-radius: 15px;
    padding: 15px;
    margin: 0 auto;
    width: 80%;
    font-size: 1.2rem;
    list-style: none;
    text-wrap: ballance;
}