.footer-text{
    font-size: 1.3rem;
    font-weight: bold;
}

.footer-links{
    display: flex;
    align-items: center;
    gap: 25px;
    text-decoration: none;
}

.footer-logo--linkedIn{
    height: 30px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.footer-logo--github{
    height: 24px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.footer__link{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer-logo--aldaydev{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
    color: black;
    vertical-align: top;
    transition: letter-spacing .2s ease-in-out;
}

.footer-logo--linkedIn:hover,
.footer-logo--github:hover{
    transform: scale(1.1);
}

.footer-logo--aldaydevBraceLeft,
.footer-logo--aldaydevBraceRight{
    transition: padding .2s ease-in-out;
}

.footer-logo--aldaydev:hover{
    letter-spacing: 0.7px;
}

.footer-logo--aldaydev:hover .footer-logo--aldaydevBraceLeft{
    padding-right: 5px;
}

.footer-logo--aldaydev:hover .footer-logo--aldaydevBraceRight{
    padding-left: 5px;
}

@media screen and (max-width: 1024px){
    .App-footer {
        padding: 20px 50px;
    }
}

@media screen and (max-width: 810px){
    .App-footer {
        padding: 20px 20px;
        flex-direction: column;
    }
}

@media screen and (max-width: 700px){
    .App-footer {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 560px){
    .App-footer {
        
        gap: 15px;
    }
}