.App-header > a {
    height: 100%;
    display: flex;
    margin-right: 20px;
}

.App-logo {
    width: 120px;
    pointer-events: none;
    transition: transform .6s ease-in-out;
}

.App-header > a:hover .App-logo{
    transform: scale(1.1);
    transition: transform .2s ease-in-out;
}

.App-nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-pagesList{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    font-size: 1.2rem;
    font-weight: 600;
}

.nav-pagesItem--drop{
    position: relative;
    z-index: 999;
    background-color: var(--color-yellow);
}

.pagesItem-dropTitle,
.nav-pagesItem > a{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
}

.nav-pagesItem > a{
    text-decoration: none;
    color: black;
}

.nav-pagesItem{
    transition: background .3s ease-in-out;
}

.nav-pagesItem:hover{
    background-color: var(--color-yellow-light);
}

.pagesItem-dropList{
    visibility: hidden;
    opacity: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;

    background-color: var(--color-yellow);
    z-index: 999;
    text-align: right;
    transition: opacity .3s ease-in-out;
    box-shadow: 0 4px 6px var(--color-blue);

    display: flex;
    flex-direction: column;
}

.nav-pagesItem--drop:hover
.pagesItem-dropList{
    visibility:visible;
    opacity: 1;
    background-color: var(--color-yellow);
}

.pagesItem-dropItem{
    display: flex;
    justify-content: center;
    transition: background .2s ease-in-out;
}

.pagesItem-dropItem > a{
    width: 100%;
    padding: 5px 20px;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

.pagesItem-dropItem:hover{
    background-color: var(--color-yellow-light);
}

.nav-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}
.nav-form-input{
    padding: 2px 10px;
    height: 35px;
    position: relative;
    z-index: 10;
}

.nav-form-submit{
    margin-left: 5px;
    height: 100%;
    background-color: transparent;
    border: none;
}

.nav-form-submit-icon{
    width: 35px;
    transition: transform .3s ease-in-out;
}

.nav-form-submit:hover .nav-form-submit-icon{
    transform: scale(1.1);
}

.nav-form-submit:focus{
    animation: search .5s ease-in-out;
}

@keyframes search {
    from{
        transform: rotate(0);
    }to{
        transform: rotate(360deg);
    }
}

.nav-form-error{

    background-color: var(--color-red-dark);
    width: 192px;
    padding: 5px;
    color: var(--color-white);

    position: absolute;
    top: 73px;
    left: 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    opacity: 0;
    animation: form-error .5s ease-in-out both;
}

@keyframes form-error {
    from{
        opacity: 0;
        top: 23px;
    }to{
        opacity: 1;
        top: 73px;
    }
    
}

.nav-form-error-hidden{
    background-color: var(--color-red-dark);
    width: 192px;
    padding: 5px;
    color: var(--color-white);

    position: absolute;
    top: 73px;
    left: 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    opacity: 0;
    animation: form-error-hidden .5s ease-in-out both;
}

@keyframes form-error-hidden {
    0%{
        opacity: 1;
    }80%{
        opacity: 0;
    }100%{
        display: none;
    }
    
}

.nav-userButtons{
    display: flex;
    margin-left: 10px;
}

/* .nav-pokeballContainer{
    width: 55px;
    height: 60px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
} */


.nav-userButtons > a{
    display: block;
    width: 55px;
    height: 60px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    transition: transform .2s ease-in-out;
}

.nav-pokeball{
    filter: drop-shadow(-1px -1px 0 black) 
    drop-shadow(1px -1px 0 black) 
    drop-shadow(-1px 1px 0 black) 
    drop-shadow(1px 1px 0 black);

    width: 52px;
    position: absolute;
    top: 4px;
    left: 5px;
}

.nav-pokemons{
    margin-top: 8px;
    width: 45px;
    max-height: 38px;
    filter: drop-shadow(-1px -1px 0 black) 
    drop-shadow(1px -1px 0 black) 
    drop-shadow(-1px 1px 0 black) 
    drop-shadow(1px 1px 0 black);
}

.nav-user{
    margin-top: 7px;
    width: 45px;
    max-height: 40px;
    filter: drop-shadow(-1px -1px 0 black) 
    drop-shadow(1px -1px 0 black) 
    drop-shadow(-1px 1px 0 black) 
    drop-shadow(1px 1px 0 black);
    
}

.nav-user,
.nav-pokeball,
.nav-pokemons{
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.nav-userButtons a:first-child:hover,
.nav-userButtons a:nth-child(2):hover,
.nav-userButtons a:nth-child(3):hover {
    transform: scale(1.08);
}


/* .nav-user:hover,
.nav-pokeball:hover,
.nav-pokemons:hover{
    transform: scale(1.1);
} */

.nav-user:hover .pokeballCount-container{
    transform: scale(1.1);
}

.pokeballCount-container,
.pokemonCount-container{
    min-width: 25px;
    min-height: 25px;
    border-radius: 25px;
    background-color: var(--color-blue);
    position: absolute;
    right: 3px;
    bottom: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemonCount-container{
    background-color: var(--color-green);
}

.pokeballCount-number,
.pokemonCount-number{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 3px;
}

.showCountDown-container{
    font-size: 1.2rem;
    background-color: var(--color-red-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    right: 2%;
    top: 88px;
    padding: 10px 20px;
    border-radius: 10px;
    animation: showCountDown 12s ease-in-out both;
}

@keyframes showCountDown {
    0%{
        transform: scale(0);
    }4%{
        transform: scale(1.1);
    }5%{
        transform: scale(1);
    }90%{
        transform: scale(1);
        opacity: 1;
    }92%{
        opacity: 0;
    }
}

.showAchievement-container{
    font-size: 1.2rem;
    background-color: var(--color-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    right: 2%;
    top: 88px;
    padding: 10px 20px;
    border-radius: 10px;
    animation: showCountDown 5s ease-in-out both;
}







