/*---------- VARIABLES GENERALES ----------*/

:root{
  --color-yellow: #FFCB05;
  --color-yellow-light: #ffdf60;
  --color-white: #f7f7f7;
  --color-white-dark: #E6E9ED;
  --color-red: 	#ff0000;
  --color-blue: 	#3b4cca;
  --color-blue-dark: 	#1b2eba;
  --color-red-dark: #EF402E;
  --color-red-light: #ef412eda;
  --color-green: #54a666;
  --color-green-light: #54a66669;
  --color-green-dark: #53905f;

  --box-shadow: 1px 1px 3px #9c9c9c;
}


/*---------- ESTILOS GLOBALES ----------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/*---------- ESTILOS APP ----------*/

.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  background-color: var(--color-white);
}

/* ESTILOS APP-HEADER */

.App-header{
  background-color: var(--color-yellow);
  height: 80px;
  padding: 0 10%;

  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 999;

  box-shadow: 0 0 5px var(--color-blue);
}

.App-header--block{
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
}

/* ESTILOS APP-MAIN */

.App-main {
  min-height: calc(100dvh - 80px);
  width: 80%;
  margin: 0 auto;
  /* padding-bottom: 20px; */
  display: grid;
  grid-template-rows: auto 1fr;
}

.App-main--short{
  min-height: calc(100dvh - 140px);
}

.App-main-title{
  margin: 10px;
  margin-top: 30px;
  font-size: 2rem;
  animation: trackingDown .5s .2s ease-in-out both, fundido .5s .3s ease-in-out both;
}

.App-main-sutitle{
  font-size: 1.2rem;
  animation: trackingDown .5s .2s ease-in-out both, fundido .5s .3s ease-in-out both;
}

.AppButton{
  background-color: var(--color-yellow);
  padding: 6px;
  font-size: 1.2rem;
  border: none;
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  text-wrap: nowrap;
  transition: background .2s ease-in-out;
}

.AppButton:hover{
  background-color: var(--color-yellow-light);
}

.AppButton-img{
  max-width: 150px;
}

/* ESTILOS APP-FOOTER */

.App-footer {
  height: 60px;
  background-color: var(--color-yellow);
  box-shadow: -1px -1px 3px #9c9c9c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}




/*---------- ESTILOS WINNER MSG ----------*/

.winnerMsg-position{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #54a6662d;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;
  animation: winnerMsgContainer 15s ease-in-out both;
}

.winnerMsg-container{
  position: relative;
  z-index: 999;
  box-shadow: var(--box-shadow);
  background-color: var(--color-green);
  border: 3px solid black;
  margin: 50px;
  padding: 50px;
  border-radius: 15px;
  max-width: 500px;
  animation: winnerMsg 15s 1s ease-in-out both;
}

.winnerMsg-title{
  font-size: 30px;
  margin-top: 20px;
  text-wrap: balance;
}

.winnerMsg-bgContainer{
  position: absolute;
  
  top: 0;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.winnerMsg-img--litle{
  position: absolute;
  top: -10%;
  width: 50px;
}

.winnerMsg-img--litle:nth-child(1){
  left: 0;
  animation: winnerBg 5s ease-in infinite both;
}

.winnerMsg-img--litle:nth-child(2){
  left: 10%;
  animation: winnerBg 5s 2s ease-in infinite both;
}

.winnerMsg-img--litle:nth-child(3){
  left: 20%;
  animation: winnerBg 5s 1s ease-in infinite both;
}

.winnerMsg-img--litle:nth-child(4){
  left: 30%;
  animation: winnerBg 5s 4.5s ease-in infinite both;
}

.winnerMsg-img--litle:nth-child(5){
  left: 40%;
  animation: winnerBg 5s 3.7s ease-in infinite both;
}

.winnerMsg-img--litle:nth-child(6){
  left: 50%;
  animation: winnerBg 5s 2.7s ease-in infinite both;
}

.winnerMsg-img--litle:nth-child(7){
  left: 60%;
  animation: winnerBg 5s 1.5s ease-in infinite both;
}

.winnerMsg-img--litle:nth-child(8){
  left: 70%;
  animation: winnerBg 5s .5s ease-in infinite both;
}

.winnerMsg-img--litle:nth-child(9){
  left: 80%;
  animation: winnerBg 5s 3s ease-in infinite both;
}

.winnerMsg-img--litle:nth-child(10){
  left: 90%;
  animation: winnerBg 5s 4s ease-in infinite both;
}

/*---------- ANIMACIONES ----------*/

@keyframes winnerBg {
  0%{
    top: -10%;
  }98%{
    top: 98%;
    opacity: 1;
  }100%{
    opacity: 0;
    top: 100%;
  }
}

@keyframes winnerMsgContainer {
  0%{
    opacity: 0;
  }10%{
    opacity: 1;
  }90%{
    opacity: 1;
  }100%{
    opacity: 0;
  }
}

@keyframes winnerMsg {
  0%{
      transform: scale(0);
  }4%{
      transform: scale(1.1);
  }5%{
      transform: scale(1);
  }90%{
      transform: scale(1);
      opacity: 1;
  }92%{
      opacity: 0;
  }100%{
      opacity: 0;
  }
}

@keyframes fundido {
  from{
      opacity: 0;
  }to{
      opacity: 1;
  }
}

@keyframes trackingDown {
  from{
      transform: translateY(-10px);
  }to{
      transform: translateY(0px);
  }
}

@keyframes trackingUp {
  from{
      transform: translateY(10px);
  }to{
      transform: translateY(0px);
  }
}


@keyframes trackingRigth {
  from{
      transform: translateX(-40px);
  }to{
      transform: translateX(0px);
  }
}

@keyframes trackingLeft {
  from{
      transform: translateX(40px);
  }to{
      transform: translateX(0px);
  }
}