:root{
  --color-yellow: #FFCB05;
  --color-yellow-light: #ffdf60;
  --color-white: #f7f7f7;
  --color-white-dark: #E6E9ED;
  --color-red: 	#ff0000;
  --color-blue: 	#3b4cca;
  --color-blue-dark: 	#1b2eba;
  --color-red-dark: #EF402E;
  --color-red-light: #ef412eda;
  --color-green: #54a666;
  --color-green-light: #54a66669;
  --color-green-dark: #53905f;

  --box-shadow: 1px 1px 3px #9c9c9c;
}

/*Amarillo ANTERIOR -> #ffde00*/
/*Amarillo ligh ANTERIOR -> #fff197*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  background-color: var(--color-white);
}

.App-header{
  background-color: var(--color-yellow);
  height: 80px;
  padding: 0 10%;

  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 999;

  box-shadow: 0 0 5px var(--color-blue);
}

.App-header--block{
  pointer-events: none;
    opacity: 0.7;
    cursor: not-allowed;
    user-select: none;
}

.App-main {
  min-height: calc(100dvh - 80px);
  width: 95%;
  margin: 0 auto;
  /* padding-bottom: 20px; */
  display: grid;
  grid-template-rows: auto 1fr;
}

.App-main--short{
  min-height: calc(100dvh - 140px);
}

.App-main-title{
  margin: 10px;
  margin-top: 30px;
  font-size: 2rem;
  animation: trackingDown .5s .2s ease-in-out both, fundido .5s .3s ease-in-out both;
}

.App-main-sutitle{
  font-size: 1.2rem;
  animation: trackingDown .5s .2s ease-in-out both, fundido .5s .3s ease-in-out both;
}

.AppButton{
  background-color: var(--color-yellow);
  padding: 6px;
  font-size: 1.2rem;
  border: none;
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.AppButton:hover{
  background-color: var(--color-yellow-light);
}

.AppButton-img{
  max-width: 150px;
}

.App-footer {
  height: 60px;
  background-color: var(--color-yellow);
  box-shadow: -1px -1px 3px #9c9c9c;
}

@keyframes fundido {
  from{
      opacity: 0;
  }to{
      opacity: 1;
  }
}

@keyframes trackingDown {
  from{
      transform: translateY(-10px);
  }to{
      transform: translateY(0px);
  }
}

@keyframes trackingUp {
  from{
      transform: translateY(10px);
  }to{
      transform: translateY(0px);
  }
}


@keyframes trackingRigth {
  from{
      transform: translateX(-40px);
  }to{
      transform: translateX(0px);
  }
}

@keyframes trackingLeft {
  from{
      transform: translateX(40px);
  }to{
      transform: translateX(0px);
  }
}