.showPoke-section{
    /* max-height: calc(100dvh - 180px); */
    display: grid;
    grid-template-columns: 3fr 5fr;
    margin-bottom: 20px;
}

/*---------- ESTILOS POKE LIST ----------*/

/* .showPoke-pokeList{
    max-height: calc(100dvh - 180px);
    flex-basis: 30%;
    background-color: var(--color-white);
    height: 100% ;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 25px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
} */

.showPoke-pokeList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(170px, 1fr));
    justify-items: center;
    justify-content: start;
    align-items: start;
    gap: 20px;
    /* max-height: max-content; */
    min-height: 700px;
    max-height: calc(100dvh - 250px);
    overflow-y: scroll;
    overflow-x: hidden;

    margin: 25px 25px 25px 0;
    padding-right: 20px;
    position: relative;
}

/* .pokeList-item{
    cursor: pointer;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background .2s ease-in-out;
    animation: fundido .5s ease-in-out;
} */

.pokeList-item{
    border: none;
    cursor: pointer;
    background:none;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background .2s ease-in-out;
    animation: fundido .5s ease-in-out;
}

.pokeList-item:hover{
    background-color: var(--color-yellow-light);
}

.pokeList-item:focus{
    background-color: var(--color-yellow);
}

.pokeList-item:focus .pokeList-img{
    transform: scale(1.1);
    
}

.pokeList-item:hover .pokeList-img,
.pokeList-item--user:hover .pokeList-img {
    transform: scale(1.1);
}

.pokeList-item:focus:hover {
    background-color: var(--color-yellow);
}

.pokeList-item--owned{
    background-color: var(--color-green-light);
}

.pokeList-item--owned:hover{
    background-color: var(--color-green);
}

.pokeList-item--owned:focus{
    background-color: var(--color-green);
    
}

.pokeList-item--owned:focus:hover {
    background-color: var(--color-green);
}

.pokeList-item--block{
    pointer-events: none;
    opacity: 0.7;
    cursor: not-allowed;
    user-select: none;
}

.pokeList-imgContainer{
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeList-img{
    width: 120px;
    height: 120px;
    transition: transform .3s ease-in-out;
}

.pokeList-title{
    font-size: 1.2rem;
}


/*---------- ESTILOS MAIN POKE ----------*/

.showPoke-mainPoke{
    flex-basis: 70%;
    padding: 15px;
    border-radius: 0 15px 15px 0;
    display: flex;
    position: relative;
}

.mainPoke-title{
    font-size: 1.9rem;
    margin: 0;
}

.mainPoke-container{
    display: grid;
    grid-template-rows: auto;
    margin-top: 20px;
    animation: fundido .5s ease-in-out;
}

.mainPoke-upperSec{
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 0;
}

.mainPoke-imgContainer{
    flex-basis: 50%;
    position: relative;
    z-index: -10;
    border-radius: 15px;
    height: 100%;
    min-height: 150px;
    max-height: 300px;
    min-width: 150px;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mainPoke-img{
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    min-width: 150px;
    min-height: 150px;
    padding: 20px;
}

.mainPoke-id{
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    bottom: 0%;
    left: 2%;
}

.mainPoke-statsContainer{
    flex-basis: 50%;
}

.mainPoke-statContainer{
    background-color: var(--color-white);
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
    min-height: 10px;
}

.mainPoke-statsTitle{
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.mainPoke-statTitle{
    margin: 0;
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
    z-index: 10;
    text-wrap: nowrap;
}

.mainPoke-statProgres{
    position: absolute;
    top: 0;
    bottom: 200px;
    left: 0;
    right: 200px;
    width: 0%;
    height: 100%;
    border-radius: 15px;
    background-color: var(--color-red);
    opacity: 0.8;
}

.mainPoke-lowerSec{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0 20px;
}

.mainPoke-itemContainer{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.3rem;
    font-weight: 500;

    background-color: var(--color-yellow);
    padding: 3px 15px;
    border-radius: 15px;

    margin: 0 2px;
}

.mainPoke-itemTitle{
    background-color: var(--color-yellow);
    vertical-align: middle;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 15px;
    border-radius: 15px;
}

.mainPoke-charsContainer .mainPoke-itemTitle{
    box-shadow: var(--box-shadow);
}

.mainPoke-itemContainer:first-child,
.mainPoke-itemContainer:last-child{
    box-shadow: var(--box-shadow);
}

.mainPoke-typeTitle{
    padding: 0;
}

.mainPoke-itemText{
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
    white-space: nowrap;
}

.mainPoke-charsContainer{
    display: flex;
    gap: 10px;
    background-color: transparent;
}

.loadingSpinner-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.mainPoke-huntSection{
    margin: 20px 40px;
    
}

.huntBtn{
    padding: 10px 40px;
    max-height: 90px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: var(--color-blue);
    border-radius: 15px;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-wrap:  nowrap;
}

.huntBtn > span{
    margin-right: 40px;
}

.huntBtn:hover{
    background-color: var(--color-blue-dark);
}

.huntBtn-img{
    transform: scale(0.75) translateX(20px);
    filter: drop-shadow(-1px -1px 0 white) 
    drop-shadow(1px -1px 0 white) 
    drop-shadow(-1px 1px 0 white) 
    drop-shadow(1px 1px 0 white);
}

.huntBtn-img-loggin{
    height: 70px;
    filter: drop-shadow(-1px -1px 0 white) 
    drop-shadow(1px -1px 0 white) 
    drop-shadow(-1px 1px 0 white) 
    drop-shadow(1px 1px 0 white);
}

.huntBtn-red{
    background-color: var(--color-red-light);
    /* pointer-events: none; */
    /* opacity: 0.7; */
    /* cursor: not-allowed; */
    user-select: none;

}

.huntBtn-red:hover{
    background-color: var(--color-red-dark);
}

.huntBtn-green{
    background-color: var(--color-green);
}

.huntBtn-green:hover{
    background-color: var(--color-green-dark);
}

.huntBtn-block{
    background-color: var(--color-white-dark);
    color: black;
    
    pointer-events: none;
    opacity: 0.7;
    cursor: not-allowed;
    user-select: none;
}

.huntBtn-block > img{
    filter: grayscale();
}

.mainPoke-huntSection > a {
    text-decoration: none;
}

.hunt-pokeballContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    animation: pokeball-animation 5s ease-in-out both;
}

.hunt-pokeball{
    position: relative;
    left: 15%;
}

@keyframes pokeball-animation {
    0%{
        transform: scale(0) rotate(360deg);
    }10%{
        transform: scale(1.1) rotate(0deg);
    }12%{
        transform: scale(1);
    }25%{
        transform: scale(1);
    }30%{
        transform: scale(1.1);
    }35%{
        transform: scale(1);
    }40%{
        transform: scale(1);
    }45%{
        transform: scale(1.2);
    }50%{
        transform: scale(1);
    }55%{
        transform: scale(1);
    }60%{
        transform: scale(1.3);
    }65%{
        transform: scale(1);
    }70%{
        transform: scale(1);
    }75%{
        transform: scale(1.4);
    }80%{
        transform: scale(1);
    }85%{
        transform: scale(1.1);
    }90%{
        transform: scale(1) rotate(0deg);
    }100%{
        transform: scale(0) rotate(360deg);
    }
}

.huntMsgPosition{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.huntMsgContainer{
    padding: 30px 40px;
    background-color: var(--color-red-dark);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    border: 3px solid black;
    animation: huntMsg 4s ease-in-out both;
}

.huntMsg-text{
    font-size: 1.4rem;
    font-weight: 600;
}

.huntMsg-title{
    font-size: 1.8rem;
}

.huntMsg-img{
    margin-top: 15px;
    max-width: 180px;
}

.huntMsgWin{
    background-color: var(--color-green);
}

@keyframes huntMsg {
    0%{
        transform: scale(0);
    }5%{
        transform: scale(1.2);
    }10%{
        transform: scale(0.9);
    }15%{
        transform: scale(1);
    }90%{
        transform: scale(1);
    }95%{
        transform: scale(1.2);
    }100%{
        transform: scale(0);
    }
}



